.about {
  width: 80%;
}

.img-presentation {
  width: 100%;
}

.float-sm-right {
  width: fit-content;
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.title-commitment {
  color:#A84134;
  font-size: larger
}
