.home {
  width: 80%;
}
/* ..................... */
.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.home-logo img {
  height: 16vmin;
  margin: 4vmin;
}

/* ..................... */
/* ..................... */
/* ..................... */
/* ..................... */
/*
.home-presentation
.home-research
.home-proposal
.home-links */
