.btn-tommette {
  text-align: center;
  padding: 10px 20px;
  max-width: 100%; /* S'adapte à la largeur du texte - exception dans .mosaic */
  margin: 2vmin 1vmin;
  font-family: 'AlbertSans';
  font-weight: 600;
  cursor: pointer;
  background-color: #FFFFFE;
  color: #a84134;
  border: solid #A84134 1px;
  box-shadow : 5px 5px 0px #a8413499;
  display: inline-block;
}

.btn-tommette:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.btn-tommette img {
  width: 2vmin;
  margin-left: 1vmin;
}

.mosaic .btn-tommette img {
  max-width: 300px;
}
