.btn-tommette {
  text-align: center;
  padding: 10px 20px;
  max-width: 100%; /* S'adapte à la largeur du texte */
  margin: 1vmin;
  font-size: medium;
  cursor: pointer;
  background-color: #FFFFFE;
  color: #A84134;
  border: solid #A84134 1px;
  box-shadow : 5px 5px 0px rgba(168, 65, 52, .6);
  display: inline-block;
}

.btn-tommette:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
