.interactiv-card {
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  max-height: max-content;
}
.card {
  margin: 1vmin;
  border: 0.5px solid #008A95;
  border-radius: 4px;
  background-color: #FFFFFE;
  box-shadow : 0px 0px 7px rgba(122, 122, 122, .2);
}

.cardText {
  margin-top: 1vmin;
}

.cardTitle {
  font-size: medium;
  font-weight: bold;
  color: #16949e;
}

.cardText p {
  margin-bottom: 0;
}

.card-img-1 img {
  width: 18%;
  margin: 2vmin;
}
.card-img-2-3 img {
  width: 40%;
  margin: 2vmin;
}
  @media (max-width: 576px) {
    .card-img-1 img,
    .card-img-2-3 img {
      width: 35px;
    }
  }

.card-dot {
width: 100%;
/* permet au dot d'être à dte avec grid */
  }

.card-dot img {
  width: 2vmin;
  margin: 0;
  cursor: pointer;
}

.card-dot svg {
  fill: #008A95;
  transition: fill 0.3s ease;
}

.card a {
  color: #008A95;
}
