.mosaic-component {
  margin: 6vmin 0 2vmin;
  padding: 2vh 4vw;
  background-image: url(../assets/images/bg-meteor.svg);
  background-size: 100%;
  box-shadow: inset -12px -8px 40px #30a0a829;
  border-radius: 12px;
  cursor: default;
}

.mosaic-item {
  padding: 4px;
  max-width: 200px;
  position: relative;
}

.mosaic-img {
  width: 100%;
  height: auto;
}

.mosaic-icon {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 10px;
  height: 15px;
  cursor: pointer;
}
