/* Global : body (et ses media queries), links, couleurs, polices */

html {
  height: max-content;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body, #root {
  height: max-content;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDFDF9;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body strong {
  font-family: "Manrope";
  font-weight: 700;
}

/* Couleurs du site :
background color : #FDFDF9; => index.css
Main blue color: #008A95; => MyNavbar.css, MyFooter, TitleLined
Btn tommette color: #A84134;
background-components color: #FFFFFE; */

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.nicer-dots ul {
  list-style: none; /* Enlève les puces par défaut */
}

.nicer-dots ul li {
  position: relative;
  padding-left: 20px;
}

.nicer-dots ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #16949e;
}

/* Tablettes */
@media (max-width: 1024px) {
  body, header {
    width: 100%;
  }
}
/* Ordinateurs de bureau */
@media (min-width: 1025px) and (max-width: 1366px) {
  body, header {
    width: 80%;
  }
}
/* Grands écrans (17 pouces et plus) */
@media (min-width: 1367px) {
  body, header {
    width: 60%;
  }
}
