/* Global : body (et media queries), a, couleurs, polices, strong, dots, credits */

/* Couleurs du site :
background-site color : #FDFDF9;
Main blue color: #008A95;
Btn tommette color: #A84134;
background-components color: #FFFFFE;
ÀÉ   */

html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  height: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDFDF9;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* footer en bas même si pas assez de contenu */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body strong {
  font-family: "Manrope";
  font-weight: 700;
}

.credits {
  color: lightgray;
  font-size: small;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.nicer-dots ul {
  list-style: none;
}
.nicer-dots ul li {
  position: relative;
  padding-left: 20px;
}
.nicer-dots ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #16949e;
}

/* Tablettes */
@media (max-width: 1024px) {
  body, header {
    width: 100%;
  }
}
/* Ordinateurs de bureau */
@media (min-width: 1025px) and (max-width: 1366px) {
  body, header {
    width: 80%;
  }
}
/* Grands écrans (17 pouces et plus) */
@media (min-width: 1367px) {
  body, header {
    width: 60%;
  }
}
